@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sn-pro: "SN Pro", sans-serif;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sn-pro);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}

.dark * {
  scrollbar-color: #3f3f46 transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sn-pro);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
